body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(8, 40px); /* 8 columnas */
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px;
}

.cell {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}

.cell.revealed {
    background-color: #fff;
    cursor: default;
}

.cell.mine {
    background-color: red;
}

.cell.number {
    background-color: lightgray;
}
